.slick-prev:before,
.slick-next:before {
  color: rgb(29, 7, 94);
}

 

.landingone{

  background-image:  
  url("https://i.ibb.co/QP33199/slider1.jpg");

 
}
.landingtwo{

  background-image:  
  url("https://i.ibb.co/2YtW38S/1s.png");

 
}

@media only screen and (max-width: 393px) {

  .landingone {
    width: 100%;
    background-image: 
    linear-gradient(
        to left,
        rgba(243, 238, 234, 0),
        rgba(230, 242, 244, 0.5)
      ),
      url("https://i.ibb.co/QP33199/slider1.jpg");
  
    color: rgb(232, 221, 235);
     

    background-size: 100% 80%;
    background-repeat: no-repeat;
    /* background-position: center; */
    
     
  }
  .landingtwo {
    width: 100%;
    background-image: 
    linear-gradient(
        to left,
        rgba(243, 238, 234, 0),
        rgba(230, 242, 244, 0.5)
      ),
      url("https://i.ibb.co/2YtW38S/1s.png");
  
    color: rgb(232, 221, 235);
     

    background-size: 100% 80%;
    background-repeat: no-repeat;
    /* background-position: center; */
    
       
  }



}