.physiotherapy {
  background-image: url("../../assets/Physio.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  min-height: 500px;
  color: #fff;

  background-position: center;
}

@media only screen and (max-width: 393px) {
  .physiotherapy {
    width: 100%;
    background-image: url("../../assets/Physio.jpg");

    color: white;

    /* background-size: cover; */

    min-height: 200px;
    color: #fff;
  }
}
