
@import url('https://fonts.googleapis.com/css2?family=Courgette:wght@300;400;500;600;700;800;900&display=swap');


.physiotherapy{

    font-family: 'Courgette', cursive;
}



.physiotherapy {
  background-image:
  linear-gradient(
        to left,
        rgba(3, 62, 78, 0.521),
        rgba(3, 29, 34, 0.9)
      ),
  url("../../assets/Physio.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  min-height: 500px;
  color: #fff;

  background-position: center;
}

@media only screen and (max-width: 393px) {
  .physiotherapy {
    width: 100%;
    background-image: url("../../assets/Physio.jpg");

    color: white;

    /* background-size: cover; */

    min-height: 200px;
    color: #fff;
  }
}
