.neckpain{


    background-image: 

    linear-gradient(
      to left,
      rgba(3, 62, 78, 0.521),
      rgba(3, 29, 34, 0.5)
    ),
    url("../../assets/nick.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  
  
 min-height: 500px;
 color: #fff;
 /* background-position: 50% 50%; */
 /* background-size: cover; */
  background-position: center;
}
@media only screen and (max-width: 393px) {
  .neckpain {
    width: 100%;
    background-image:
    linear-gradient(
    to left,
    rgba(3, 62, 78, 0.521),
    rgba(3, 29, 34, 0.5)
  ),
     url("../../assets/nick.jpg");

    color: white;

    /* background-size: cover; */

    min-height: 200px;
    color: #fff;
  }
}