.kneepain{

    background-image: 

    
    url("../../assets/kneee.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  
  
 min-height: 500px;
 color: #fff;
 /* background-position: 50% 50%; */
 /* background-size: cover; */
  background-position: center;
}