.sports{

    background-image: 
  
    
    url("https://global-uploads.webflow.com/60d3395d60e9503a507bae32/60ffe9f9246c10be5c34a610_Sports%20Injury.png");

  background-repeat: no-repeat;
  background-size: cover;

  
  
 min-height: 500px;
 color: #fff;
 /* background-position: 50% 50%; */
 /* background-size: cover; */
  background-position: center;
}